
			
			<div id="content" class="span10">
			<!-- content starts -->
			
			
					
			<div class="row-fluid sortable">
						
				<div class="box span4" style="height: 200px;">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-list-alt"></i> Dayly Activity</h2>
						
					</div>
					<div class="box-content" style="height:280px;">
						<ul class="dashboard-list">
							<li>
								<a href="#">
									<i class="icon-user"></i>                               
									<span class="green"><%=@users[:day]%></span>
									New Users                                    
								</a>
							</li>
						  <li>
							<a href="#">
							  <i class=" icon-plus-sign"></i>
							  <span class="red"><%=@clues[:day]%></span>
							  New Clues
							</a>
						  </li>
						  <li>
							<a href="#">
							  <i class="icon-resize-small"></i>
							  <span class="blue"><%=@glues[:day]%></span>
							  New Glues                                    
							</a>
						  </li>
						  <li>
							<a href="#">
							  <i class="icon-comment"></i>
							  <span class="yellow"><%=@scribbles[:day]%></span>
							  User Scribbles                                    
							</a>
						  </li>
						</ul>
					</div>
				</div><!--/span-->
				
				<div class="box span4" style="height: 200px;">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-list"></i> Last Week Activity</h2>
						
					</div>
					<div class="box-content" style="height:280px;">
						<ul class="dashboard-list">
							<li>
								<a href="#">
									<i class="icon-user"></i>                               
									<span class="green"><%=@users[:week]%></span>
									New Users                                    
								</a>
							</li>
						  <li>
							<a href="#">
							  <i class=" icon-plus-sign"></i>
							  <span class="red"><%=@clues[:week]%></span>
							  New Clues
							</a>
						  </li>
						  <li>
							<a href="#">
							  <i class="icon-resize-small"></i>
							  <span class="blue"><%=@glues[:week]%></span>
							  New Glues                                    
							</a>
						  </li>
						  <li>
							<a href="#">
							  <i class="icon-comment"></i>
							  <span class="yellow"><%=@scribbles[:week]%></span>
							  User Scribbles                                    
							</a>
						  </li>
						  </li>
						</ul>
					</div>
				</div><!--/span-->


				<div class="box span4" style="height: 200px;">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-list"></i> Last Month Activity</h2>
						
					</div>
					<div class="box-content"  style="height:280px;">
						<ul class="dashboard-list">
							<li>
								<a href="#">
									<i class="icon-user"></i>                               
									<span class="green"><%=@users[:month]%></span>
									New Users                                    
								</a>
							</li>
						  <li>
							<a href="#">
							  <i class=" icon-plus-sign"></i>
							  <span class="red"><%=@clues[:month]%></span>
							  New Clues
							</a>
						  </li>
						  <li>
							<a href="#">
							  <i class="icon-resize-small"></i>
							  <span class="blue"><%=@glues[:month]%></span>
							  New Glues                                    
							</a>
						  </li>
						  <li>
							<a href="#">
							  <i class="icon-comment"></i>
							  <span class="yellow"><%=@scribbles[:month]%></span>
							  User Scribbles                                    
							</a>
						  </li>
						</ul>
					</div>
				</div><!--/span-->

				<div class="box span4" style="height: 200px;">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-list"></i> All time</h2>
						
					</div>
					<div class="box-content"  style="height:280px;">
						<ul class="dashboard-list">
							<li>
								<a href="#">
									<i class="icon-user"></i>                               
									<span class="green"><%=@users[:all]%></span>
									New Users                                    
								</a>
							</li>
						  <li>
							<a href="#">
							  <i class=" icon-plus-sign"></i>
							  <span class="red"><%=@clues[:all]%></span>
							  New Clues
							</a>
						  </li>
						  <li>
							<a href="#">
							  <i class="icon-resize-small"></i>
							  <span class="blue"><%=@glues[:all]%></span>
							  New Glues                                    
							</a>
						  </li>
						  <li>
							<a href="#">
							  <i class="icon-comment"></i>
							  <span class="yellow"><%=@scribbles[:all]%></span>
							  User Scribbles                                    
							</a>
						  </li>
						</ul>
					</div>
				</div><!--/span-->
				
				
			</div><!--/row-->
       
					<!-- content ends -->
			</div><!--/#content.span10-->
				
				
		