
			
<div id="content" class="span10">
			<!-- content starts -->
	<div class="box">
		<div class="box-content">
			<%= form_tag("/admin/graphs", :method => "post") do %>
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="selectError3">From</label>
						<%=select_date(@from_d, :order => [:year, :month, :day],:prefix => 'from_date')%>
					</div>
					<div class="control-group">
						<label class="control-label" for="selectError3">To</label>
						<%=select_date(@to_d, :order => [:year, :month, :day],:prefix => 'to_date')%>
					</div>
				</fieldset>
			
			<button type="submit" class="btn btn-primary">Show</button>
			
			<% end %>
		</div>
	</div>
			
			
								
	<div class="box span4" style="height: 200px;">
		<div class="box-header well" data-original-title>
			<h2><i class="icon-list"></i> Activity for the above timeframe</h2>
			
		</div>
		<div class="box-content" style="height:280px;">
			<ul class="dashboard-list">
				<li>
					<a href="#">
						<i class="icon-user"></i>                               
						<span class="green"><%=@users%></span>
						New Users out of 
						<span class="green"><%=@to_a.users%></span>                                  
					</a>
				</li>
			  <li>
				<a href="#">
				  <i class=" icon-plus-sign"></i>
				  <span class="red"><%=@clues%></span>
				  New Clues out of 
						<span class="green"><%=@to_a.clues%></span>
				</a>
			  </li>
			  <li>
				<a href="#">
				  <i class="icon-resize-small"></i>
				  <span class="blue"><%=@glues%></span>
				  New Glues out of 
						<span class="green"><%=@to_a.glues%></span>                                    
				</a>
			  </li>
			  <li>
				<a href="#">
				  <i class="icon-comment"></i>
				  <span class="yellow"><%=@scribbles%></span>
				  Scribbles out of 
						<span class="green"><%=@to_a.scribbles%></span>                                    
				</a>
			  </li>
			  </li>
			</ul>
		</div>
	</div>
	
	
	<div class="box span4" style="height: 200px;">
		<div class="box-header well" data-original-title>
			<h2><i class="icon-list"></i> Ratios</h2>
			
		</div>
		<div class="box-content" style="height:280px;">
			<ul class="dashboard-list">
				<li>
					<a href="#">
						<i class="icon-user"></i>                               
						<span class="green"><%=100*@users/@users_total%>%</span>
						New Users                                    
					</a>
				</li>
			  <li>
				<a href="#">
				  <i class=" icon-plus-sign"></i>
				  <span class="red"><%=@clues/@users_total%></span>
				  Clues per User
				</a>
			  </li>
			  <li>
				<a href="#">
				  <i class="icon-resize-small"></i>
				  <span class="blue"><%=@glues/@users_total%></span>
				  Glues per User                               
				</a>
			  </li>
			  <li>
				<a href="#">
				  <i class="icon-comment"></i>
				  <span class="yellow"><%=@scribbles/@users_total%></span>
				  Scribbles per User                                    
				</a>
			  </li>
			  </li>
			</ul>
		</div>
	</div>
			<!-- content ends -->
</div><!--/#content.span10-->
				
				
		